<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('Assets/CSS/styles.css') }}" />

    <title>Students Card</title>
</head>
<body>
    {% include 'header.html.twig' %}
  
    <div class="container">
        <h1>Liste des classes</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Professeurs</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for classe in classes %}
                    <tr>
                        <td>{{ classe.id }}</td>
                        <td>{{ classe.nom }}</td>
                        <td>
                            {% for prof in classe.prof %}
                                {{ prof.nom }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            <a href="{{ path('app_classe_edit', {'id': classe.id}) }}" class="button">Modifier</a>
                            <a href="{{ path('app_classe_delete', {'id': classe.id}) }}" class="button">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_classe_create') }}" class="button">Créer une classe</a>
    </div>

 
</body>
</html>
