<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('Assets/CSS/styles.css') }}" />

    <title>Liste des matières</title>
</head>
<body>
    {% include 'header.html.twig' %}

    <div class="container">
        <h1>Liste des matières</h1>
        <a href="{{ path('app_matiere_create') }}" class="button">Créer une matière</a>
        <table class="table">
            <thead>
                <tr>
                    {# <th>Id</th> #}
                    <th>Nom</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for matiere in matieres %}
                    <tr>
                        {# <td>{{ matiere.id }}</td> #}
                        <td>{{ matiere.nom }}</td>
                        <td>
                            <a href="{{ path('app_matiere_edit', {'id': matiere.id}) }}" class="button">Modifier</a>
                            <form action="{{ path('app_matiere_delete', {'id': matiere.id}) }}" method="POST" style="display:inline;">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ matiere.id) }}">
                                <button type="submit" class="button" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette matière ?')">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
