<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('Assets/CSS/styles.css') }}" />

    <title>Liste des professeurs</title>
</head>
<body>
    {% include 'header.html.twig' %}
  
    <div class="container">
        <h1>Liste des professeurs</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Classes</th>
                    <th>Matieres</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for prof in profs %}
                    <tr>
                        <td>{{ prof.id }}</td>
                        <td>{{ prof.nomProf }}</td>
                        <td>
                            {% for classe in prof.classe %}
                                {{ classe.nom }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for matiere in prof.matiere %}
                                {{ matiere.nom }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            <a href="{{ path('app_prof_edit', {id: prof.id}) }}" class="button">Modifier</a>
                            <a href="{{ path('app_prof_delete', {id: prof.id}) }}" class="button" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce professeur ?')">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_prof_create') }}" class="button">Créer un professeur</a>
    </div>


</body>
</html>
